@using HRNestRecruitmentTask.Models

@model IEnumerable<Contact>

@{
    Layout = "../Layout.cshtml";
}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Contact c in Model)
    {
    <tr onclick="location.href='@(Url.Action("Details", "Home", new { id = c.ID }))'">
      <td>@c.Name</td>
      <td>@c.Surname</td>
    </tr>
    }
  </tbody>
</table>
